# Database
DATABASE_URL="postgresql://usuario:senha@localhost:5432/barbershop?schema=public"

# JWT
JWT_SECRET="seu-secret-super-seguro-aqui-mude-em-producao"

# Server
PORT=3000
NODE_ENV=development
